# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

# TODO don't forget to update these all to permanent 301 redirects when everything is tested.
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
    Redirect 302 /categories /topics
    Redirect 302 /equity-diversity-and-inclusion/remove-systemic-barriers/pathway/understand-barriers-to-improve-access /topic/equity-diversity-and-inclusion/84/understand-barriers-to-improve-access
    Redirect 302 /equity-diversity-and-inclusion/remove-systemic-barriers/pathway/remove-barriers-to-shift-culture /topic/equity-diversity-and-inclusion/85/remove-barriers-to-shift-culture
</IfModule>
