/** 
 * Learning Curator
 *
 * Keep it simple!! Reply on Bootstrap as **much as possible**, 
 * while adding in some flavor. Seriously: if you're in here
 * adding stuff, please be as minimalist as possible, and try
 * not to alter things like margins and padding (use utility
 * classes instead). For the most part, the intention here
 * is to override colors and font weights and only adding 
 * absolutely necessary custom elements.
 *
 * Author: Allan Haggett <allan.haggett@gov.bc.ca>
 *
 */
 
/* @media (prefers-color-scheme: dark) {
	body, html {
		background: #333;
		color: #FFF;
	}
	.bg-white {
		background-color: #333;
	}
	#colorful {
		background-color: #333;
	}
} */
 /* #TODO update the below link states to make more sense. */
a {
	color: #000;
	text-decoration: underline;
}
a:hover {
	color: #333;
}
.nav a:hover {
	color: #333;
	text-decoration: underline;
}
a:active {
	color: #999;
}
a:focus {
	color: #333;
}
.navbar a {
	color: #000;
	text-decoration: none;
}
.navbar a:focus {
	color: #333;
}
.btn {
	text-decoration: none;
}
/* This _can_ be set individually with Bootstrap's 
 * .img-fluid class, but I prefer to set it globally; I can't think of a time
 * when not having the image scale with the rest of the page was a desired
 * behaviour, but YMMV
 */
img {
	height: auto;
	max-width: 100%;
}

/* For some incomprehensible-to-me reason, Bootstrap's default colors are 
 * NOT CONSIDERED ACCESSSIBLE! 
 * https://getbootstrap.com/docs/4.6/getting-started/accessibility/#color-contrast
 * "Authors will need to manually modify/extend these default colors to ensure 
 *  adequate color contrast ratios."
 * https://github.com/twbs/bootstrap/issues/3572 looks like they attempted 
 * to address the issue, but gave up because "Will close for now since there 
 * is no clear solution in my mind that doesn't have some downside. "
 * So ... yeah:
*/
.btn-primary {
	/* in absence of a clearly defined blue to go with the current activities 
	 * pallet, I'm just setting this BC Gov blue; it doesn't offend me, but 
	 * there's room for improvement.
	 */
	/* background-color: #003366;
	border-color: #003366; UUGH IT CLASHES SO BAD*/
}
/*
 * #TODO add in accessible colors for other button types like  "success"
 */

/*
 * This is the main header area with the activity ring logo as the background;
 * NOTE that this is altered slightly by the desktop breakpoint below.
 */
#colorful {
	background: #FFF url('../img/curator-rings-background.svg') no-repeat bottom center;
	background-size: 50rem;
	background-position: -25rem 0;
}

#colorful .breadcrumb a {
    text-decoration: underline;
}
.activity-icon {
	border-radius: 50%;
	color: #000;
	display: inline-block;
	text-align: center;
}
.activity-icon-md {
	font-size: 140%;
	height: 60px;
	padding-top: 8px;
	width: 60px;
}
.activity-icon-lg {
	font-size: 170%;
	height: 100px;
	padding-top: 8px;
	width: 100px;
}
.breadcrumb {
	background-color: #FFF;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
	background-color: #f8f9fa;
	color: #333;
	/* font-size: 1.2em; */
	font-weight: 600;
}


/* Start desktop-specific code */
@media (min-width: 45em) {

	#colorful {
		background-size: 90rem;
		background-position: -3rem -35rem;
	}

} /* End desktop-specific code */