
a {
	color: #000;
}
a:hover {
	color: #000;
}

img {
	height: auto;
	max-width: 100%;
}
.bg-success,
.btn-success {
    background-color: rgba(88,174,36,1) !important;
    border: 0;
}
#colorful {
    /*background: rgb(193,129,183);
    background: radial-gradient(circle, rgba(255,218,96,1) 0%, rgba(244,105,115,1) 33%, rgba(249,145,180,1) 63%, rgba(193,129,183,1) 100%);
	*/
	background: url('../img/curator-rings-background.svg') no-repeat bottom center;
	background-size: 50rem;
	background-position: -25rem 0;
}

#colorful .breadcrumb a {
    text-decoration: underline;
}
.linear {
	background: linear-gradient(0deg, rgba(255,218,96,.2) 0%, rgba(244,105,115,.2) 33%, rgba(249,145,180,.2) 63%, rgba(193,129,183,.2) 100%);
	padding-bottom: 180px;
}
.linear a {
    
}
.linear a.btn {
    color: #FFF;
}
.pad-sm {
	padding: 2rem;
}
.pad-md {
	padding: 3rem;
}
.pad-lg {
	padding: 4rem;
}
.sectiontext {
	font-size: 130%;
	margin: 80px 0;
	padding: 0;
}
canvas {
	height: auto;
	max-width: 100%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #FFF;
	color: #000;
}
.upro,
.upro:hover,
.upro:active { color: #FFF } 
.card {
	border: 0;
}

.breadcrumb {
    background-color: rgba(255,255,255,.5);
}
.activity-icon {
	border-radius: 50%;
	color: #000;
	display: inline-block;
	text-align: center;
}
.activity-icon-md {
	font-size: 140%;
	height: 60px;
	padding-top: 7px;
	width: 60px;
}
.activity-icon-lg {
	font-size: 170%;
	height: 100px;
	padding-top: 13px;
	width: 100px;
}
.actname {
	font-size: 1.1em;
	font-weight: bold;
}

@media (min-width: 45em) {

	#colorful {
		
		background-size: 90rem;
		background-position: -3rem -35rem;
	}
	
	.stickyrings {
		align-self: flex-start; 
		position: -webkit-sticky;
		position: sticky;
		
		top: 110px;
		z-index: 200;
	}
	.stickyprogress {
		align-self: flex-start; 
		position: -webkit-sticky;
		position: sticky;
		
		top: 76px;
		z-index: 300;
	}
} /* end desktop-specific code */