
a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: #0279ba;
    text-decoration: none; 
}
a:hover {
    color: #005b8b; 
}


img {
	height: auto;
	max-width: 100%;
}
.btn-success {
    background-color: rgba(88,174,36,1) !important;
    border: 0;
}
#colorful {
    /*background: rgb(193,129,183);
    background: radial-gradient(circle, rgba(255,218,96,1) 0%, rgba(244,105,115,1) 33%, rgba(249,145,180,1) 63%, rgba(193,129,183,1) 100%);
	*/
	background: url('../img/curator-rings-background.svg') no-repeat bottom center;
	background-size: 50rem;
	background-position: -25rem 0;
}
#colorful a {
    color: #000;
}
#colorful .breadcrumb a {
    text-decoration: underline;
}
.linear {
	background: linear-gradient(0deg, rgba(255,218,96,.2) 0%, rgba(244,105,115,.2) 33%, rgba(249,145,180,.2) 63%, rgba(193,129,183,.2) 100%);
}
.linear a {
    color: #000;
}
.linear a.btn {
    color: #FFF;
}
.pad-sm {
    padding: 30px 0;
}
.pad-md {
    padding: 40px 0;
}
.pad-lg {
    padding: 50px 0;
}
.sectiontext {
	font-size: 130%;
	margin: 80px 0;
	padding: 0;
}
canvas {
	height: auto;
	max-width: 100%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #FFF;
	color: #000;
}
.upro,
.upro:hover,
.upro:active { color: #FFF } 
.card {
	border: 0;
}

.breadcrumb {
    background-color: rgba(255,255,255,.5);
}
.activity-icon {
	border-radius: 50%;
	color: #000;
	display: inline-block;
	text-align: center;
}
.activity-icon-md {
	font-size: 140%;
	height: 60px;
	padding-top: 7px;
	width: 60px;
}
.activity-icon-lg {
	font-size: 170%;
	height: 100px;
	padding-top: 13px;
	width: 100px;
}

@media (min-width: 45em) {

	#colorful {
		
		background-size: 90rem;
		background-position: -3rem -35rem;
	}

    .pad-sm {
        padding: 50px 0;
    }
    .pad-md {
        padding: 60px;
    }
    .pad-lg {
        padding: 80px;
    }

	
	.stickyrings {
		align-self: flex-start; 
		position: -webkit-sticky;
		position: sticky;
		
		top: 86px;
		z-index: 200;
	}
	.stickyprogress {
		align-self: flex-start; 
		position: -webkit-sticky;
		position: sticky;
		
		top: 0;
		z-index: 300;
	}
} /* end desktop-specific code */