
a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: #0279ba;
    text-decoration: none; 
}
a:hover {
    color: #005b8b; 
}


img {
	height: auto;
	max-width: 100%;
}
.btn-success {
    background-color: rgba(88,174,36) !important;
    border: 0;
}
#colorful {
    background: rgb(193,129,183);
    background: radial-gradient(circle, rgba(255,218,96,1) 0%, rgba(244,105,115,1) 33%, rgba(249,145,180,1) 63%, rgba(193,129,183,1) 100%);
    
}
#colorful a {
    color: #555;
    text-decoration: underline;
}
.pad-sm {
    padding: 30px;
}
.pad-md {
    padding: 40px;
}
.pad-lg {
    padding: 50px;
}
.sectiontext {
	font-size: 130%;
	margin: 100px 0;
	padding: 0 20px;
}
canvas {
	height: auto;
	max-width: 100%;
}

.upro,
.upro:hover,
.upro:active { color: #FFF } 
.card {
	border: 0;
}

.breadcrumb {
    background-color: rgba(255,255,255,.5);
}

@media (min-width: 45em) {
    .pad-sm {
        padding: 50px;
    }
    .pad-md {
        padding: 100px;
    }
    .pad-lg {
        padding: 150px;
    }
	/* probably can be removed as probably not using columns any more */
    .card-columns {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
	
	.stickyrings {
		align-self: flex-start; 
		position: -webkit-sticky;
		position: sticky;
		text-transform: uppercase;
		top: 86px;
		z-index: 1000;
	}
} /* end desktop-specific code */