@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BCSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap; /* or block, swap, fallback, optional */
    src: local('BCSans'),
         url('/fonts/BCSans-Regular.woff2') format('woff2');
    unicode-range: U+000-5FF; /* Latin glyphs */
  }

[x-cloak] { display: none !important; }
a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
    margin-bottom: 1em;
}

.autop>p {
    margin-bottom: 0.5em;
}

@layer components {
    .form-field {
        @apply block w-full px-3 py-1 m-0 border-solid border-2 border-slate-200 dark:border-black dark:text-white bg-slate-100/80 dark:bg-slate-800 rounded-lg;
    }
}

@layer utilities {
    .point-left {
        clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    }
}